---

import { projects } from '../../config/projects.json'
import CardProject from '../CardProject.astro';

---

<section class="flex flex-col justify-center items-cente text-center my-10">
    <h2 class="font-bold text-5xl my-10">Projects</h2>

    <div class="flex flex-col gap-28">
        {
            projects.map((project) => (
                <CardProject title={project.title} description={project.description} image={project.image} />
            ))
        }
    </div>
</section>

