---
import Layout from "../Layouts/Layout.astro";

---

<Layout title="Acerca del sitio">
    <h1 class="">About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo minima magnam labore ipsa nostrum autem delectus nesciunt reprehenderit numquam culpa reiciendis temporibus quod quis natus aliquam cupiditate quasi, possimus illum harum mollitia accusantium sunt. Sit incidunt, pariatur est numquam dicta expedita quod atque quae sequi perferendis ut? Dolores, ratione id? Autem tenetur impedit veritatis aspernatur quidem ullam repudiandae magnam fuga quia velit reiciendis in deleniti qui quibusdam cum, debitis vitae veniam repellendus. Neque, odio laborum est corrupti eveniet beatae, dignissimos exercitationem nesciunt eius iste, perspiciatis iusto! Eum odit, velit iure eos nihil repudiandae tenetur dolore voluptatem mollitia praesentium dicta exercitationem.</p>
</Layout>